Cython==0.23.4
requests==2.8.1
numpy==1.10.1
lxml==3.5.0
dragnet==1.0.1
elasticsearch==2.1.0
Flask==0.10.1
Flask-RESTful==0.3.4
flask-restplus==0.8.1
nltk==3.2.4
python-Levenshtein==0.12.0
fuzzywuzzy==0.8.0
simhash==1.6.2
gunicorn==19.5.0
tornado==4.3
readability-lxml==0.6.2
beautifulsoup4==4.5.1
goose-extractor==1.0.25
pandas==0.20.2
scipy==0.16.1
xlrd==1.0.0
timeout-decorator==0.4.0
redis==2.10.5